#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

textarea, input {
  font-weight: bold;
  resize: none;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

input {
  height: 30px;
}

.container, .inputs {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.inputs {
  row-gap: 5px;
}

.container div:nth-child(3) {
  display: flex;
  gap: 5px;
}

